* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .counter-container {
    max-width: 80vw;
  }
}

@media screen and (min-width: 800px) {
  .counter-container {
    max-width: 650px;
  }
}
